<div class="container-fluid full-width-image">
  <div class="auth-container">
    <div class="auth-box">
      <div class="container">
        <div class="card col-md-6 mt-3 mx-auto">
          <div class="card-body">

            <div class="alert alert-info" role="alert">
              Username: aurizon \\
              Password: 5679
            </div>
            <div [hidden]="!error" class="alert alert-danger">
              {{ error }}
            </div>
            
            <fieldset [disabled]="isLoading">
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                  <label class="d-block">
                    <input type="text" class="form-control" [placeholder]="'Username'" formControlName="username">

                  </label>
                </div>
                <div class="form-group">
                  <label class="d-block">
                    <input type="password" class="form-control" [placeholder]="'Password'" formControlName="password">

                  </label>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block btn-raised" type="submit" [disabled]="loginForm.invalid">
                    <span [hidden]="isLoading">Submit</span>

                  </button>
                </div>

              </form>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
