<div class="container">
    <h3><b>Earn Points!</b></h3>

    <p><b>Please choose the area where to find the issue.You can call us or you can upload the photos.You will earn the points and redeems while your purchase for informing us</b></p>
    <div class="Aligncenter">
        <div class="btn-group">
            <button type="button" class="btn border Buttoncolor">Select area</button>
            <button type="button" class="btn border Buttoncolor">Upload Photos</button>


        </div>
        <div class="container Scrollimage border">
            <div class="d-flex-col ">
                <div>
                    <input type="checkbox" id="myCheckbox1" />
                    <label for="myCheckbox1" class="FeautureBlock">
                        <img class="Imagesize" src='../../../../../assets/soapDispenser.jpg'>
                        <span class="Centered"><h4>Soap dispenser  was empty</h4></span>
                    </label>
                </div>
                <div>
                    <input type="checkbox" id="myCheckbox2" />
                    <label for="myCheckbox2" class="FeautureBlock">
                        <img class="Imagesize" src="../../../../../assets/dustbinjpg.jpg">
                        <span class="Centered"><h4>Trash can was full</h4></span>
    
                    </label>
                </div>
                <div>
                    <input type="checkbox" id="myCheckbox3" />
                    <label for="myCheckbox3" class="FeautureBlock">
                        <img class="Imagesize" src="../../../../../assets/flush.jpg">\
                        <span class="Centered"><h4>Flush not working</h4></span>
                    </label>
                </div>
                <div>
                    <input type="checkbox" id="myCheckbox3" />
                    <label for="myCheckbox3" class="FeautureBlock">
                        <img class="Imagesize" src="../../../../../assets/commod.jpg">\
                        <span class="Centered"><h4>Toilet not cleaned</h4></span>
                    </label>
                </div>
                <div class="form-group shadow-textarea">
                    <label for="exampleFormControlTextarea6" ><span class="Textcolor"><h4>Other problems</h4></span></label>
                    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Please describe the problem"></textarea>
                </div>
                <button type="button" class="btn btn-success">Submit</button>
            </div>
           
            </div>
    
        
    </div>
</div>