<div class="container">
    <br />

    
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card border">
                <div class="card-header">

                    <b>Did you find the facility clean and hygeine?</b>
                    <br />
                    <br />

                    <a href="/PFacilities/toilets/reviews/RewardPoints" class="btn-lg btn-success">Yes</a>&nbsp;&nbsp;&nbsp;
                    <a href="/PFacilities/toilets/reviews/ProblemReview" class="btn-lg btn-success">No</a>




                </div>
                <div class="card-body">
                    <b> <u>Note</u>:Please click no to raise a concern</b>
                </div>


            </div>



        </div>
        <div class="col-2"></div>
    
   
    
</div>