<app-header></app-header>
<div>
 
  <div class="container">
    <div class="row">
      <div class="col-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item border">
            <img class="Imagesize" src="../../../assets/ParentalFacilities/toilet.png" />
            Toilet
            <label class="checkbox">
              <input type="checkbox"/>
              <span class="success"></span>
            </label>
          </li>
          <li class="list-group-item border">
            <img class="Imagesize" src="../../../assets/ParentalFacilities/babyfeeding.png" />
            Baby Feeding
            <label class="checkbox">
              <input type="checkbox" />
              <span class="success"></span>
            </label>
          </li>
          <li class="list-group-item border">
            <img class="Imagesize" src="../../../assets/ParentalFacilities/shower.jpg" />
            Shower
            <label class="checkbox">
              <input type="checkbox" />
              <span class="success"></span>
            </label>
          </li>
          <li class="list-group-item border">
            <img class="Imagesize" src="../../../assets/ParentalFacilities/televison.jpg" />
            Televison
            <label class="checkbox">
              <input type="checkbox" />
              <span class="success"></span>
            </label>
          </li>
        </ul>




      </div>
      <div class="col-md-6">

        <ul class="list-group list-group-flush">
          <li class="list-group-item border">
            <img class="Imagesize" src="../../../assets/ParentalFacilities/microwave.png" />
            Microwave
            <label class="checkbox">
              <input type="checkbox" />
              <span class="success"></span>
            </label>
          </li>
          <li class="list-group-item border">
            <img class="Imagesize" src="../../../assets/ParentalFacilities/babychangingtable.png" />
            Baby Changing Table
            <label class="checkbox">
              <input type="checkbox" />
              <span class="success"></span>
            </label>
          </li>
          <li class="list-group-item border">
            <img class="Imagesize" src="../../../assets/ParentalFacilities/music.jpg" />
            Music
            <label class="checkbox">
              <input type="checkbox" />
              <span class="success"></span>
            </label>
          </li>


        </ul>


      </div>
    </div>
    <br>
    <div class=" Aligncenter">
      <button class="btn-lg btn-success nav-item nav-link-edit" [routerLink]="['toiletGuide']">Search</button>
        </div>
  </div>

</div>

