<app-header></app-header>
<div class="container Alignleft">
  <div class="d-inline-flex justify-content-center text-white">
    <div class="FeautureBlock p-1"><a href="/PFacilities"><img class="Imagesize img-thumbnail" src="/assets/ParentalFacilities.jpg" /> </a><div class="Centered"><h3>Parental Facilities</h3></div></div>
    <div class="FeautureBlock  p-1"><img class="Imagesize img-thumbnail" src="/assets/restaurants.jpg" /> <div class="Centered"><h3>Restaurants</h3></div></div>
    <div class="FeautureBlock  p-1"><img class="Imagesize img-thumbnail" src="/assets/stores.jpg" /> <div class="Centered"><h3>Stores</h3></div></div>
</div>
</div>


